<div class="homepage">
  <div class="floating-ufos">
    <img src="assets/images/ufo.png" alt="UFO" class="ufo ufo-1" />
    <img src="assets/images/ufo.png" alt="UFO" class="ufo ufo-2" />
    <img src="assets/images/ufo.png" alt="UFO" class="ufo ufo-3" />
    <img src="assets/images/ufo.png" alt="UFO" class="ufo ufo-4" />
    <img src="assets/images/ufo.png" alt="UFO" class="ufo ufo-5" />
  </div>
  <img src="assets/images/politecnica.webp" alt="UFO Battle Slide" class="slide-image" />
  <div class="welcome-text">
    <h1>Welcome to UFO Battle!</h1>
    <p>Your ultimate gaming experience awaits. Let's play a game!</p>
  </div>
</div>
